<!--Partial templates (usually just called “partials”) are used for breaking the rendering process into reusable chunks. -->
<!--We call the partial _form.html.erb when using the render method: partials are named with an underscore to distinguish -->
<!--them from regular views, even though they are referred to without the underscore:-->

<%= simple_form_for @post do |f| %>

  <%= render 'shared/error_messages' %>

  <div class="form-group">
    <%= f.input :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.input :body, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
  </div>

  <div class="form-group">

    <%= f.input :category_id, :collection => Category.all, :label_method => :name, :value_method => :id, :include_blank => true %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>