<h2 class="text-center post-title"><%= @post.title %></h2>
<h5 class="text-center"><%= @post.created_at.strftime('%b %d, %Y') %></h5>
<div><%= raw @post.body %></div>
<p>Category: <%= link_to posts_path(category: @post.category.name) do %><%= @post.category.name %>
  <% end %></p>

<p class="post-meta text-right">Posted by
  <a href="#">Start Bootstrap</a></p>
