<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog - Start Bootstrap Theme</title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <style type="text/css">
    .posts-search .results .ui-widget-content {
      background: #fff;
      font-size: .9em;
      padding: .5em 0;
      border-color: #ddd;
      box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
      line-height: 1.2;
      max-height: 20em;
      overflow: hidden;
      overflow-y: auto;
    }

    .posts-search .results .ui-menu-item {
      font-family: 'Helvetica Neue', Helvetica, sans-serif;
      /*padding: .4em .6em .4em 6.2em;*/
      position: relative;
      border: 0;
      border-left: 5px solid transparent;
      /*height: 6.5em;*/
    }

    .posts-search .results .ui-state-focus {
      background: #fff;
      border-left-color: #08c;
      font-weight: 300;
    }

    .posts-search .results .ui-menu-item .title {
      display: block;
      color: #555;
    }

    .posts-search .results .ui-menu-item .category {
      display: block;
      font-size: .8em;
      text-transform: uppercase;
      color: #aaa;
      margin-top: .6em;
      letter-spacing: 1px;
    }

    .posts-search .results .ui-state-focus .category,
    .posts-search .results .ui-state-focus .title {
      color: #08c;
    }

  </style>

</head>

<body>

<!-- Navigation -->
<%= render 'application/header_nav' %>

<!-- Page Header -->
<%= render 'application/header' %>


<div class="container"><!-- Main Content -->

  <div class="row">

    <div class="col-lg-10 col-md-10 mx-auto">
      <%= yield %>
    </div>

    <div class="col-lg-2 col-md-2 mx-auto">
      <%= render 'shared/nav' %>
    </div>

  </div>

</div><!-- / Main Content -->

<hr>

<!-- Footer -->
<%= render 'application/footer' %>

</body>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!--Mostrar toasts-->
<% unless flash.empty? %>
  <script type="text/javascript">
      <% flash.each do |f| %>
      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
      toastr['<%= type %>']('<%= f[1] %>');
      <% end %>
  </script>
<% end %>



<%= javascript_include_tag "/resources/posts.js" %>
<script>
    $(function () {
        new app.Posts;
    });
</script>

</html>
