<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Clean Blog - Start Bootstrap Theme</title>

  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>

<body>

<!-- Navigation -->
<%= render 'application/header_nav' %>

<!-- Page Header -->
<%= render 'application/header' %>


<div class="container"><!-- Main Content -->

  <div class="row">

    <div class="col-lg-10 col-md-10 mx-auto">
      <%= yield %>
    </div>

    <div class="col-lg-2 col-md-2 mx-auto">
      <%= render 'shared/nav' %>
    </div>

  </div>

</div><!-- / Main Content -->

<hr>

<!-- Footer -->
<%= render 'application/footer' %>

</body>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</html>
